h1 {
    background: rgb(12, 77, 255);
}
h2 {
    background: rgb(42, 202, 117);
}

.paragraph1 {
    background: rgb(240, 122, 255);
    font-size: 32pt;
    color: rgb(0, 0, 0);
    margin-top: 40px;
    padding-left: 100px;
}
.paragraph2 {
    background: rgb(139, 150, 144);
    font-size: 64pt;
    color: rgb(192, 0, 0);
    border: 10px;
    border-radius: 20px;
}
.paragraph3 {
    background: rgb(10, 105, 53);
    font-size: 32pt;
    color: rgb(47, 47, 47);
    font-weight: 900;
}

.paragraph4 {
    font-size: 24px;
    font-style: italic;
    text-shadow: 2px 2px rgb(0, 128, 0);
    text-align: center;
}
